@use "../../../../../theme/_theme.scss";

.admin-tabs {
  background-color: transparent;
  display: flex;
  position: absolute;
  height: 43px;
  top: -43px;
  left: 80px;
  .admin-tab {
    background-color: theme.$color_white;
    border: 1px solid theme.$color_greyLight;
    border-bottom: none;
    border-top-left-radius: theme.radius(round);
    border-top-right-radius: theme.radius(round);
    margin-right: 1px;
    min-width: 60px;
    padding-inline: theme.spacing(md);
    font-size: theme.size(SM);
    color: theme.$color_greyMedium;
    font-weight: theme.weight(medium);
    box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    // toggle tab can't be underlined at hover because has no text
    &:nth-child(1):hover svg {
      top: 5px;
    }
    // underline on hover
    &:hover .tab-label {
      border-bottom: 2px solid theme.$color_greyMedium;
    }
    & svg {
      position: relative;
      top: 2px;
    }
    & .tab-label {
      margin-left: theme.spacing(xs);
      padding-bottom: 2px;
    }
    &.active {
      background-color: theme.$color_dark;
      border: 1px solid theme.$color_dark;
      color: theme.$color_white;
      &:hover .tab-label {
        border-bottom: none;
        cursor: default;
      }
    }
  }
}
