@use "../../../../theme/theme";

.order-page {
  background-color: theme.$color_primary;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  & .container {
    background-color: theme.$color_white;
    border-radius: theme.radius(extraRound);
    margin: 1rem;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
