// @use "../../../theme/colors" as colors;
@use "../../../theme/theme";

.login-form {
  display: flex;
  flex-direction: column;
  h1,
  h2 {
    color: theme.$color_white;
    font-family: "Amatic SC";
  }

  h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 400px;
    border-bottom: 0.15rem solid theme.$color_primary;
  }

  h2 {
    font-size: 36px;
    margin: 30px 0 10px;
  }

  align-items: center;
  & .input-firstname {
    color: theme.$color_greyDark;
    position: relative;
    & .icon {
      position: absolute;
      left: 13px;
      top: 19px;
    }
    & input {
      color: theme.$color_dark;
      padding: 18px 38px;
      width: 400px;
      text-align: left;
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }
  }
  & button {
    font-family: "Arial";
    font-weight: 700;
    font-size: 15px;
    color: theme.$color_white;
    background-color: theme.$color_primary;
    border: none;
    border-radius: 5px;
    height: 53px;
    padding-inline: 1rem;
    width: 400px;
    margin-top: 1rem;
    cursor: pointer;
    & svg {
      position: relative;
      top: 2px;
      left: 6px;
    }
    &:hover {
      background-color: theme.$color_white;
      color: theme.$color_primary;
      border: 1px solid theme.$color_primary;
    }
  }
}
