.login-page {
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.2) url("/images/food-background.webp");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
