@use "src/theme/theme";

.login-form {
  display: flex;
  flex-direction: column;
  h1,
  h2,
  h3 {
    color: theme.$color_dark;
    font-family: "Amatic SC";
  }

  h2 {
    font-size: theme.size(P5);
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 510px;
    border-bottom: 0.15rem solid theme.$color_primary;
  }

  h3 {
    font-size: theme.size(P4);
    margin: 30px 0 10px;
  }
  align-items: center;
  .primary-button {
    margin-top: 1rem;
  }
  .primary-button,
  .input-firstname {
    box-shadow: theme.shadow(medium);
  }
}
