// @use "../../../theme/colors" as colors;
@use "../../../theme/theme";

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    color: theme.$color_primary;
    font-family: "Amatic SC";
    font-weight: theme.weight(bold);
    font-size: theme.size(P4);
    letter-spacing: 1.5px;
  }
  & img {
    width: 80px;
    margin-inline: 0.4rem;
  }
  &.logo-login-page {
    transform: scale(2.5);
  }
  &.logo-order-page {
    cursor: pointer;
  }
}
