@use "../../../theme/theme";

.input {
  color: theme.$color_greyDark;
  position: relative;
  .icon {
    position: absolute;
    left: 11px;
    top: 19px;
  }
  input {
    color: theme.$color_dark;
    background-color: theme.$color_background_white;
    padding: theme.size(P0) theme.size(P4);
    width: 400px;
    text-align: left;
    border: none;
    border-radius: theme.radius(round);
    font-size: theme.size(SM);
    &::placeholder {
      color: theme.$color_greyMedium;
    }
  }
  &.slim {
    input {
      padding: theme.size(XS) theme.size(P4);
    }
    .icon {
      top: 13px;
    }
  }
}
