@use "src/theme/theme";

.counter-wrapper {
  position: relative;
  overflow-y: hidden;
}
.counter-right {
  display: inline-block;
  right: 0;
}
.counter-left {
  display: inline-block;
  left: 0;
}

.count {
  &-enter {
    transform: translateY(100%);
  }
  &-enter-active {
    transform: translateY(0%);
    transition: transform 300ms;
  }
  &-exit {
    position: absolute;
    transform: translateY(0%);
  }
  &-exit-active {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 300ms;
  }
}
