// @use "../../../theme/colors" as colors;
@use "../../theme/theme";

div.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    color: theme.$color_primary_burger;
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 44px;
  }
  & img {
    width: 80px;
    margin-inline: 0.4rem;
  }
}
