@use "src/theme/theme";

.admin-panel {
  flex-grow: 1;
  height: 197px;
  padding: 1rem;
  background-color: theme.$color_white;
  border-top: 1px solid theme.$color_greyLight;
  box-shadow: theme.shadow(subtle);
}
