@use "../../../../../theme/_theme.scss";

.add-product-form {
  display: flex;
  gap: theme.spacing(sm);
  .image-preview {
    width: 240px;
    max-height: 220px;
    object-fit: contain;
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: theme.spacing(xxs);
    input {
      width: 800px;
    }
  }
}
