@use "../../../../../theme/_theme.scss";

.add-product-form {
  display: flex;
  gap: theme.spacing(sm);
  .image-preview {
    width: 240px;
    max-height: 220px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme.$color_greyMedium;
    border: 1px solid theme.$color_greyLight;
    border-radius: theme.radius(round);
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: theme.spacing(xs);
    input {
      width: 800px;
    }
    .action-add {
      display: flex;
      align-items: center;
      gap: theme.spacing(xs);
      .success-label {
        color: theme.$color_success;
      }
    }
  }
}
