@use "../../../theme/theme";

.product-card {
  box-sizing: border-box;
  width: 240px;
  height: 330px;
  border-radius: theme.radius(extraRound);
  background-color: theme.$color_white;
  box-shadow: theme.shadow(medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: theme.spacing(md);
  position: relative;
  .product-picture {
    margin: auto;
    max-width: 200px;
    max-height: 145px;
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: theme.$color_primary;
    .product-title {
      font-family: "Amatic SC";
      font-size: theme.size(P4);
      font-weight: theme.weight(bold);
      color: theme.$color_dark;
      text-align: left;
      align-self: self-start;
      margin-bottom: 0.6rem;
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .product-action {
      font-size: theme.size(SM);
      font-weight: theme.weight(regular);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .delete-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: theme.spacing(xs);
    right: theme.spacing(xs);
    width: theme.size(P3);
    height: theme.size(P3);
    color: theme.$color_red;
    &:hover {
      color: theme.$color_redSecondary;
      transform: scale(1.1);
    }
    &:active {
      color: theme.$color_red;
    }
    .icon {
      width: 100%;
      height: 100%;
    }
  }
}
