@use "src/theme/theme";

.admin-tabs {
  background-color: transparent;
  display: flex;
  position: relative;
  height: 43px;
  width: fit-content;
  position: absolute;
  left: 80px;
  top: -42px;
  .admin-tab {
    background-color: theme.$color_white;
    border: 1px solid theme.$color_greyLight;
    border-bottom: 2px solid theme.$color_greyLight;
    border-top-left-radius: theme.radius(round);
    border-top-right-radius: theme.radius(round);
    margin-right: 1px;
    min-width: 60px;
    padding-inline: theme.spacing(md);
    font-size: theme.size(SM);
    color: theme.$color_greyMedium;
    font-weight: theme.weight(medium);
    box-shadow: theme.shadow(subtle);
    cursor: pointer;
    // underline on hover
    &:hover {
      border-bottom-color: transparent;
      .tab-label {
        text-decoration: underline;
        padding-bottom: 2px;
      }
    }
    svg {
      position: relative;
      top: 2px;
    }
    .tab-label {
      margin-left: theme.spacing(xs);
      padding-bottom: 2px;
    }
    &.active {
      background-color: theme.$color_dark;
      border: none;
      color: theme.$color_white;
    }
  }
}
