@use "../../../theme/theme";

.primary-button {
  font-family: "Arial";
  font-weight: theme.weight(semiBold);
  font-size: theme.size(SM);
  color: theme.$color_white;
  background-color: theme.$color_primary;
  border: 1px solid theme.$color_primary;
  border-radius: theme.radius(round);
  padding-inline: 1.5rem;
  height: 2.5rem;
  cursor: pointer;
  svg {
    position: relative;
    top: 2px;
    left: 6px;
  }
  &:hover {
    background-color: theme.$color_white;
    color: theme.$color_primary;
  }
  &:active {
    background-color: theme.$color_primary;
    color: theme.$color_white;
  }
  &.primary-button__large {
    width: 400px;
    height: 53px;
    font-size: theme.size(SM);
  }
  &.primary-button__revert-color {
    color: theme.$color_primary;
    background-color: theme.$color_white;
    border: 1px solid theme.$color_white;
    &:hover {
      background-color: theme.$color_primary;
      color: theme.$color_white;
    }
    &:active {
      background-color: theme.$color_white;
      color: theme.$color_primary;
    }
  }
}
