@use "./theme/_theme.scss";

body,
p,
input,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.Toastify__toast.Toastify__toast-theme--dark.Toastify__toast--info {
  background-color: theme.$color_background_dark;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
