@use "src/theme/theme";

.admin {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: -275px;
}

.admin-transition-enter {
  bottom: -275px;
}

.admin-transition-enter-active {
  bottom: 0px;
  transition: 300ms ease-out;
}
.admin-transition-enter-done {
  bottom: 0px;
}

.admin-transition-exit-active {
  bottom: -275px;
  transition: 300ms ease-out;
}
