@use "src/theme/theme";

.main {
  background-color: theme.$color_background_white;
  border-bottom-left-radius: theme.radius(extraRound);
  border-bottom-right-radius: theme.radius(extraRound);
  display: flex;
  overflow: hidden;
  scrollbar-width: none;
  flex-grow: 1;
  position: relative;
  .menu-and-admin {
    box-shadow: theme.shadow(strong);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: theme.$color_background_white rgba(0, 0, 0, 0);
    flex-grow: 1;
  }
}
