@use "../../../../theme/_theme.scss";

.main {
  background-color: theme.$color_background_white;
  border-bottom-left-radius: theme.radius(extraRound);
  border-bottom-right-radius: theme.radius(extraRound);
  box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, 0.2) inset;
  padding: theme.spacing(xl);
  overflow-y: scroll;
  scrollbar-width: none;
}
