@use "../../../../theme/_theme.scss";

.main {
  background-color: theme.$color_background_white;
  border-bottom-left-radius: theme.radius(extraRound);
  border-bottom-right-radius: theme.radius(extraRound);
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  flex-grow: 1;
  .menu-and-admin {
    box-shadow: theme.shadow(strong);
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
