@use "../../../../theme/_theme.scss";

.menu {
  display: flex;
  gap: theme.spacing(xl) theme.spacing(xxl);
  flex-wrap: wrap;
  justify-content: center;
  padding: theme.spacing(xl);
  overflow-y: scroll;
  scrollbar-width: none;
}
