@use "src/theme/theme";

.menu {
  display: grid;
  grid-gap: theme.spacing(xl) theme.spacing(xxl);
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;
  padding: theme.spacing(xl);
  overflow-y: scroll;
  scrollbar-width: none;
  flex-grow: 1;
}
.empty-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: theme.size(P2);
  color: theme.$color_greyMedium;
  font-family: "Amatic SC";
  & h2,
  & p {
    color: theme.$color_greyMedium;
    font-family: "Amatic SC";
    font-size: theme.size(P4);
  }
  p,
  button {
    margin-top: theme.spacing(lg);
  }
}
